body{
    background-image:url(../MIDIAS/the-beautiful-shining-stars-in-the-night-sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    transition: 0.5s;
}

.add_tanzaku{
    background-color: rgb(246, 19, 19);
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 1em;
    width: 160px;
    position: relative;
    left: 1650px;
    top: 30px;
    border-radius: 15px;
}

.tanzaku{
    background-color: white;
    width: 550px;
    height: 150px;
    position: relative;
    text-align: center;
    opacity: 0.9;
}

.botoes{
    margin-top: 90px;
    margin: 100px;
}
